<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue读取循环数组</title>
	<!-- <script type="text/javascript" src="jquery-1.11.3-min.js"></script> -->
	
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="jquery-2.1.4.min.js"></script>
	<style type="text/css">
		.keys li{list-style-type: none;float:left;font-weight:bold;margin-right:10px;cursor:pointer;}
	</style>
</head>
<body>
	<div id="test1">
		<ul v-for="item in items">
			<li>
				<p>Name:{{item.name}}</p>
				<p>Age:{{item.age}}</p>
				<p>Sex:{{item.sex}}</p>
			</li>
		</ul>
	</div>

	<div id="test2">
		<ul v-for="key in keys" class="keys">
			<li v-on:click="switchTab(key)">{{key.key}}</li>
			<!-- <li>{{item.key}}</li> -->
		</ul><br>

		<ul v-for="item in items">
			<li>
				<p>{{item['arrName']}}</p>
				<p>{{item['arrAge']}}</p>
			</li>
		</ul>
	</div>

	
		
	
	<script type="text/javascript">
		var data1 =[
			{
				"name":"PP",
				"sex":"girl",
				"age":"23"
			},
			{
				"name":"Loren",
				"sex":"boy",
				"age":"23"
			},	
		];

		var data2 =[
			{
				"key":"ppKey",
				"arr":[
					{
						"arrName":"arr11",
						"arrAge":"arr12"
					},
					{
						"arrName":"arr21",
						"arrAge":"arr22"
					}
				]
			},
			{
				"key":"ppKey22",
				"arr":[
					{
						"arrName":"arr222211",
						"arrAge":"arr222212"
					},
					{
						"arrName":"arr222221",
						"arrAge":"arr22222"
					}
				]
			}
		];


		new Vue({
			el:"#test1",
			data:{
				items:data1
			}
		});

		// new Vue({
		// 	el:"#test2-key",
		// 	data:{
		// 		items:data2
		// 	},
		// 	methods:{
		// 		switchTab:function(item){
		// 			var idx = this.items.indexOf(item);

					
		// 		}
		// 	}
		// });

		var methodTest = new Vue({
			el:"#test2",
			data:{
				keys:data2,
				items:data2[0]['arr']
			},
			methods:{
				switchTab:function(key){
					var idx = this.keys.indexOf(key);
					this.items = data2[idx]['arr'];
					$(".keys li").eq(idx);
					console.log(this.items);
					console.log(idx);
				}
			}
		});

		
	</script>

	
</body>
</html>