<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue读取循环数组</title>
	<!-- <script type="text/javascript" src="jquery-1.11.3-min.js"></script> -->

	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="jquery-2.1.4.min.js"></script>
	<style type="text/css">
		*{padding:0;margin:0;}
		table{background:#FF6600;color:#fff;width:100%;}
		table tr td,th{border:1px solid #fff;text-align:center;padding:10px;}
		#tab{margin-top:50px;}
		#tab ul li{list-style-type: none;float:left;font-weight:bold;cursor:pointer;padding:5px 20px;border:solid #ccc;border-width:1px 1px 0 1px;}
		.active{background:#ccc;}
	</style>
</head>
<body>
	<div id="stuList">
		<table cellspacing="0">
			<tr>
				<th>编号</th>
				<th>姓名</th>
				<th>年龄</th>
				<th>性别</th>
			</tr>
			<tr v-for="(index,item) in items">
				<td>{{index+1}}</td>
				<td>{{item.name}}</td>
				<td>{{item.age}}</td>
				<td>{{item.sex}}</td>
			</tr>
		</table>
	</div>


	<div id="tab">
		<ul v-for="(key,index) in tabList">
			<li v-on:click="switchTab(index)" v-bind:class="{'active':key.selected}">{{key.classify}}</li>
		</ul><br>

		<table cellspacing="0">
			<tr>
				<th>书名</th>
				<th>作者</th>
				<th>价格</th>
				<th>编号</th>
			</tr>
			<tr v-for="item in items">
				<td>{{item.bookName}}</td>
				<td>{{item.bookAuthor}}</td>
				<td>{{item.bookPrice}}</td>
				<td>{{item.bookNo}}</td>
			</tr>
		</table>
	</div>




	<script type="text/javascript">
		var students =[
			{
				"name":"PP",
				"sex":"girl",
				"age":"23"
			},
			{
				"name":"Loren",
				"sex":"boy",
				"age":"23"
			},
		];
		var books =[
			{
				"classify":"名著",
				"arr":[
					{
						"bookName":"红楼梦",
						"bookAuthor":"曹雪芹",
						"bookPrice":"32.00",
						"bookNo":"M001"
					},
					{
						"bookName":"三国演义",
						"bookAuthor":"罗贯中",
						"bookPrice":"33.00",
						"bookNo":"M002"
					},
					{
						"bookName":"水浒传",
						"bookAuthor":"施耐庵",
						"bookPrice":"22.00",
						"bookNo":"M003"
					},
					{
						"bookName":"西游记",
						"bookAuthor":"吴承恩",
						"bookPrice":"36.00",
						"bookNo":"M004"
					},
				],
				"selected": true
			},
			{
				"classify":"散文",
				"arr":[
					{
						"bookName":"白说",
						"bookAuthor":"白岩松",
						"bookPrice":"25.00",
						"bookNo":"S001"
					},
					{
						"bookName":"看见",
						"bookAuthor":"柴静",
						"bookPrice":"26.00",
						"bookNo":"S002"
					},
					{
						"bookName":"从你的全世界走过",
						"bookAuthor":"毛阿敏",
						"bookPrice":"36.00",
						"bookNo":"S003"
					},
				],
				"selected": false
			},
			{
				"classify":"漫画",
				"arr":[
					{
						"bookName":"黑猫警长",
						"bookAuthor":"喵喵",
						"bookPrice":"5.00",
						"bookNo":"C001",
					},
					{
						"bookName":"猫和老鼠",
						"bookAuthor":"喵喵",
						"bookPrice":"10.00",
						"bookNo":"C002",
					},
					{
						"bookName":"两只老虎",
						"bookAuthor":"吼吼",
						"bookPrice":"8.00",
						"bookNo":"C003",
					}
				],
				"selected":false
			}
		];
		new Vue({
			el:"#stuList",
			data:{
				items:students
			}
		});
		var methodTest = new Vue({
			el:"#tab",
			data:{
				tabList:books,
				items:books[0]['arr']
			},
			methods:{
				switchTab:function(index){
					this.tabList.forEach(function(value){
						value.selected = false;
					});
					this.tabList[index].selected = true;
					this.items = books[index]['arr'];
					console.log(index);
				}
			}
		});
	</script>

</body>
</html>